
/* Reset everything */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Main styleing */

html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
   
}

a{
    color: #333;
    text-decoration: none;
}

h1,h2,h3{
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
}

/* utilities  */
.container{
  margin: auto;
  max-width: 1100px;
  padding: 0 20px;
}

.text-primary{
    color: #ad3d3d;
    background: -webkit-linear-gradient(45deg, #e98411, #f3dc0a 80%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.box-a{
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
}
.lead{
    font-size: 22px;
    color: rgb(246, 245, 250);

}
.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  color: #ffffff;
  text-decoration: none;
  text-shadow:0 1px 1px rgba(0,0,0,0.8);
}

.custom-underline::after {
  content: "";
  position: absolute;
}

.box-a .custom-underline::after {
    top: 65%;
    height: 2px !important;
    width: 20%;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.4s ease-out all .1s;
  }
  
  .box-a:hover .custom-underline::after {
    width: 30%;
    left: 35%;
      transition: 0.5s ease all;
      
  }
.btn{
 /*   display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer; */

    margin: 18px;
    padding: 20px 50px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 0px;
    font-weight: 1000;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover{
    /*
    background: #f7c08a;
    color: #333;
*/
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn:active {
    transform: scale(0.95);
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1px;
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
.btn-light {
    background: #fff;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.bg-primary{
    background: #f7c08a;
    color: #333;
}

.clr{
    clear: both;
 }
 
 .l1{
    font-size: 40px;
 }
 
img {
    width: 115%;
}
 /* padding */
 .py1{ padding: 10px 0;}
 .py2{ padding: 20px 0;}
 .py3{ padding: 30px 0;}
 .py4{ padding: 40px 0;}

 .leads{
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: center;
 }

 .bottom-line {
    height: 3px;
    width: 3rem;
    background-color: #ffbc00;
    display: block;
    margin: 0 auto 1rem auto; 
}

#home {
        background-image: url("/assets/img/GDP.jpg");
        margin: 0;
        background-size: cover;
        opacity: unset;
        overflow: hidden;
        background-repeat: no-repeat;
        height: 100vh;
    }
#about-bg{
    background-image: url("../assets/img/about-bg.jpg");
    margin: 0;
    opacity: unset;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

#name , #email , #message {
    border-radius: 8px;
    padding: 10px 12px;
    transition: 1s;
    border: 1px solid #cccccc;
}
#name:hover , #email:hover , #message:hover {
   transform: scale(1.02);
   border-color: #f3ad45;
   border: 1px solid #ffffff;
}
/* Nav bar */
#navbar {
    background: #333;
    color: #FFF;
    overflow: auto;

}

#navbar a{
    color: #fff;
}

#navbar .logo{
    float: left;
    padding-top: 20px;
}

#navbar ul{
    list-style: none;
    float: right;
    
}

#navbar ul li {
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #444;
    color: #f7c08a;
}

/* showcase*/

#showcase .showcase-content {
    text-align: center;
    color: #fff;
    padding-top: 170px;
} 

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}   

/* features */
.box{
    text-align: center;
    float:left;
    width: 33.33%;
    padding:50px 10px;
    height: 100%;
    transition: 0.5s;
    color: #ffffff;
}
.box:hover{
transform: scale(1.3);

}
/*contact */
#contact-form .form-group {
    margin-bottom:20px    
}

#contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
    
}

#contact-form .form-group input,
#contact-form .form-group textarea{
    width: 100%;
    padding: 10px;
}

#contact-form .form-group textarea{
    height:200px
}


#contact-form .form-group input:focus,
#contact-form .form-group textarea:focus{
    outline: none;
    border-color: #f3b475;
}

.txt1{
    font-weight: bolder;
    text-transform: uppercase;
    transition: 0.5s;
}
.txt1:hover{
    transform: scaleZ(1.1)
}

/* teams */
.team img{
    border-radius: 50%;
}


/* Flex Items */
.flex-items {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.flex-items >div {
    padding: 20px;
}


/* testmonials*/
.section-title {
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    font-weight: bold;
    text-transform: uppercase; 
}

.about-content{
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    margin-top: 2rem;
}

#about-d .testmonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2rem; }
    #about-d .testmonials ul {
      list-style: none;
      display: flex;
      margin-top: 1rem;
      align-items: center; }
    #about-d .testmonials p {
      border: 2px solid #ccc;
      border-radius: 5px;
      padding: 0.5rem; }
    #about-d .testmonials img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-right: 0.5rem; }

/*Footer*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
    margin-top: 50px;
}

.footer .social a{
    margin-right: 20px;
    color: #ec5c3f;
}

.footer .social a:hover{
    color: #fff;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
}

/* Flex Items */
.flex-items {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.flex-items >div {
    padding: 20px;
}

/* cases section Header */
.section-header {
    padding:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-header h2{
    font-size: 44px;
    margin: 20px 0;
}

.section-padding {
    padding: 20px 20px 20px;
}

#profiles{
    display: flex;
    flex-direction: column;
    
}

.profile {
    background: rgb(113, 156, 219);
    color: #fff;
    display: float;
    /* flex-direction: row; */
    align-content: center;
    justify-content: center;
    padding: 3rem;
    /* text-align: center; */
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#about-para{
    margin-top: 80px;
    font-size: larger;
    font-weight: 700;
}



/* About page footer */

