

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #efefef;
  justify-content: center;
  background-image: url("");
  margin: 0;
  background-size: cover;
  opacity: unset;
  background-repeat: no-repeat;
  height: 100%;
  overflow: visible;
 
  width: 100%;
}
a{
  color: #333;
  text-decoration: none;
}

h1,h2,h3{
  padding-bottom: 20px;
}

p{
  margin: 10px 0;
}
.container1 {
  
  position: relative;
  background: #fff;
  margin-top: 50px !important;
  margin-bottom: 30px;
  border-radius: 10px;
  filter: drop-shadow(0 0 10px
          rgba(0, 0, 0, 0.5));
  backdrop-filter: blur(50px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  height: 800px;
  width: 800px;
  border: 2px solid #333;
}

.accordion {
 
  align-items: center;
  position: relative;
  width: 350px;
  margin-left: 80px;
}

.faqtitle {
  margin-top: 40px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.content-accordion {
 margin-top: 150px;
  margin-right: 50px;
}

.question-answer {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.question {
  display: flex;
  justify-content: space-between;
}

.accordion-img {
  position: relative;
  width: 320px;
}

.title-question {
  margin: 1.4rem 0rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}

.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.up-icon {
  display: none;
}

.answer {
  font-size: 1.2rem;
  line-height: 1.8;
  display: none;
}

.show-text .answer {
  display: block;
}

.show-text .up-icon {
  display: inline;
}

.show-text .down-icon {
  display: none;
}

@media screen and (min-width: 992px) {
  .accordion {
    width: 650px;
   
    display: flex;
  }

  .accordion-img {
    position: relative;
    width: 420px;
    top: 88px;
  }

  .question-answer {
    width: 380px;
  }

  .content-accordion {
    margin-top: 85px;
  }

  .title {
    margin-top: 50px;
    font-size: 3rem;
  }
}

.faqimg img{
  height: 700px;
  width: 500px;
  z-index: -2;
  position: absolute;
  top: 20%;
  left : 65% !important;
  overflow-x: hidden;
  opacity: 1;
}

/* Nav bar */
#navbar {


  /* background-image: linear-gradient(260deg, #3a3a3a 0%, #4e4e4e 100%); */
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
   color: #FFF;
   overflow-x: visible;
   overflow-y: hidden;

}

#navbar a{
   color: #fff;
}

#navbar .logo{
   float: left;
   margin-left: 0px !important;
   padding-top: 20px;
}

#navbar ul{
   list-style: none;
   float: right;
   margin-left: 20px !important;
}

#navbar ul li {
   float: left;
}

#navbar ul li a{
   font-size: 18px;
   display: block;
   padding: 20px;
   text-align: center;
   transition: 0.1s;
}

#navbar ul li a:hover,
#navbar ul li a.current {
   
   color: whitesmoke;
   transform: scale(1.1);
}